<!DOCTYPE html>
<html lang="en">

<% include ./parts/head %>

<body class="container">

  <header>
    <% include ./parts/header %>
  </header>

  <p>Page nout found ...</p>

  <footer>
    <% include ./parts/footer %>
  </footer>

</body>

</html>
