<!DOCTYPE html>
<html lang="en">

<% include ./parts/head %>

	<body class="container" style="background-color: <%= color %>">

		<% include ./parts/header %>

			<form class="" action="/add" method="POST">
				<!-- FIRST NAME -->
				<div class="col-auto">
					<div class="form-check mb-2">
						<label for="validationServer01">First name</label>
						<input name="firstname" type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" required>
					</div>
				</div>

				<!-- LAST NAME -->
				<div class="col-auto">
					<div class="form-check mb-2">
						<label for="validationServer02">Last name</label>
						<input name="lastname" type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" required>
					</div>
				</div>

				<!-- LOGIN -->
				<div class="col-auto">
					<div class="form-check mb-2">
						<label for="validationServer01">Login</label>
						<input name="login" type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" required>
						<div class="valid-feedback">
							This is what you use to login
						</div>
					</div>
				</div>

				<!-- EMAIL -->
				<div class="col-auto">
					<label class="sr-only" for="inlineFormInputGroup">Email</label>
					<div class="input-group mb-2">
						<input name="email" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email">
					</div>
				</div>

				<!-- PASSWORD -->
				<div class="col-auto">
					<div class="form-check mb-2">
						<label for="validationServerUsername">Password</label>
						<div class="input-group">
							<input name="passwd" type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Password" aria-describedby="inputGroupPrepend3" required>
						</div>
					</div>
				</div>

				<!-- PASSWORD VALIDATION -->
				<div class="col-auto">
					<div class="form-check mb-2">
						<label for="validationServerUsername">Password validation</label>
						<div class="input-group">
							<input name="passwdValidation" type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Retype password" aria-describedby="inputGroupPrepend3" required>
						</div>
					</div>
				</div>

				<!-- IS ADMIN ? -->
				<div class="form-row">
					<div class="col-auto">
						<label for="validationServer04">Admin</label>
						<select name="admin" required>
    				<option value="true">Yes</option>
    				<option value="false" selected>No</option>
					</select>
					</div>

					<!-- COLOR -->
					<div class="form-row">
						<div class="col-auto">
							<label for="validationServer04">Color</label>
							<input name="color" type="color" class="form-control is-invalid" id="validationServer04" placeholder="#FFFFFF" required>
						</div>
					</div>
				</div>

				<div class="form-row">
					<div class="col-md-4 mb-4">
						<button class="btn btn-primary" type="submit">Add</button>
					</div>
				</div>
			</form>

	</body>

</html>
