<!DOCTYPE html>
<html lang="en">

<% include ./parts/head %>

	<body class="container" style="background-color: <%= color %>">

		<% include ./parts/header %>

			<% if (users.length > 0) { %>
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3>Delete users</h3>
						</div>
						<div class="col-sm-4 col-sm-offset-1">
							<div class="list-group" id="list1">
								<form action="/delete" method="POST">
									<% for(var i=0; i < users.length; i++) { %>
										<div class="list-group">


											<div class="list-group-item">

												<div class="checkbox pull-left">
													<label>
										<input type="checkbox" name="users" value="<%= users[i].login %>">
									</label>
												</div>

												<div class="pull-left form-control-inline">
													<h4 class="list-group-item-heading"><%= users[i].login %></h4>
													<p class="list-group-item-text">
														<%= users[i].firstname %>
													</p>
													<p class="list-group-item-text">
														<%= users[i].lastname %>
													</p>
													<p class="list-group-item-text">
														<%= users[i].email %>
													</p>
												</div>

												<% if (users[i].admin) { %>
													<span class="label label-danger pull-right">admin</span>
													<% } %>

														<div class="clearfix"></div>

											</div>
											<% } %>
												<button type="submit" class="btn btn-primary">Delete</button>
								</form>

								</div>
							</div>
						</div>
					</div>
				</div>
				<% } else { %>
					<div class="col-md-12 text-center">
						<h3>No user to delete</h3>
					</div>
					<% } %>
						<footer>
							<% include ./parts/footer %>
						</footer>

	</body>

</html>
