<!DOCTYPE html>
<html lang="en" dir="ltr">

<% include ./parts/head %>

  <body class="container" style="background-color: <%= color %>">

    <% include ./parts/header %>

      <p class="hello">Hello
        <%= login %>
      </p>

      <% if (locals.isAdmin) { %>

        <div class="col-md-12 text-center">
          <h3>Update users password</h3>
        </div>

        <div class="list-group" id="list1">
          <% for(var i=0; i < users.length; i++) { %>
            <a href="/user?login=<%= users[i].login %>" class="list-group">

              <div class="list-group-item">
                <div class="pull-left form-control-inline">
                  <h4 class="list-group-item-heading"><%= users[i].login %></h4>
                  <p class="list-group-item-text">
                    <%= users[i].firstname %>
                  </p>
                  <p class="list-group-item-text">
                    <%= users[i].lastname %>
                  </p>
                </div>

                <% if (users[i].admin) { %>
                  <span class="label label-danger pull-right">admin</span>
                  <% } %>

                    <div class="clearfix"></div>
              </div>
              <% } %>

            </a>
        </div>

        <% } else { %>

          <div class="col-md-12 text-center">
            <h3>Update your password</h3>
          </div>

          <form class="" action="/login" method="POST">
            <div class="form-group">
              <label for="login">Old password</label>
              <input name="oldPasswd" type="text" class="form-control" id="login" aria-describedby="comment" placeholder="Enter login">
            </div>

            <div class="form-group">
              <label for="passwd">New password</label>
              <input name="passwd" type="password" class="form-control" id="password" placeholder="Password">
            </div>

            <div class="form-group">
              <label for="passwd">New password validation</label>
              <input name="passwdValidation" type="password" class="form-control" id="password" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

          <% } %>
  </body>

</html>
