<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Roger Skyline 2</title>

	<!-- CSS (load bootstrap from a CDN) -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<style href="css/style.css"></style>
</head>

<body class="container">

	<header>
		<% include ./parts/header %>
	</header>

	<% if (locals.isAdmin) { %>

	<div class="list-group" id="list1">
		<% for(var i=0; i < users.length; i++) { %>
			<a href="/user=?<%= users[i].login %>" class="list-group">

				<div class="list-group-item">
					<div class="pull-left form-control-inline">
						<h4 class="list-group-item-heading"><%= users[i].login %></h4>
						<p class="list-group-item-text">
							<%= users[i].firstname %>
						</p>
						<p class="list-group-item-text">
							<%= users[i].lastname %>
						</p>
					</div>

					<% if (users[i].admin) { %>
						<span class="label label-danger pull-right">admin</span>
					<% } %>

						<div class="clearfix"></div>
				</div>
				<% } %>

			</a>
	</div>

	<% } else { %>

	<form class="" action="/login" method="POST">
		<div class="form-group">
			<label for="login">Login</label>
			<input name="login" type="text" class="form-control" id="login" aria-describedby="comment" placeholder="Enter login">
		</div>

		<div class="form-group">
			<label for="passwd">Password</label>
			<input name="passwd" type="password" class="form-control" id="password" placeholder="Password">
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	<% } %>

	<footer>
		<% include ./parts/footer %>
	</footer>

</body>

</html>
