<!DOCTYPE html>
<html lang="en">

<% include ./parts/head %>

	<body class="container">

		<% include ./parts/header %>

			<form class="" action="/login" method="POST">
				<div class="form-group">
					<label for="login">Login</label>
					<input name="login" type="text" class="form-control" id="login" aria-describedby="comment" placeholder="Enter login">
				</div>

				<div class="form-group">
					<label for="passwd">Password</label>
					<input name="passwd" type="password" class="form-control" id="password" placeholder="Password">
				</div>

				<button type="submit" class="btn btn-primary">Submit</button>
			</form>

			<footer>
				<% include ./parts/footer %>
			</footer>

	</body>

</html>
