<!DOCTYPE html>
<html lang="en">

<% include ./parts/head %>

	<body class="container" style="background-color: <%= color %>">

		<% include ./parts/header %>
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h3>Update user <%= user.login %></h3>
					</div>

				</div>
			</div>
			<form class="" action="/update?login=<%= user.login %>" method="POST">

				<div class="container">
					<div class="form-group">
						<label for="login">New password</label>
						<input name="newpassword" type="password" class="form-control" id="login" aria-describedby="comment" placeholder="Enter login">
					</div>

					<div class="form-group">
						<label for="passwd">Validate new password</label>
						<input name="newpasswordvalidation" type="password" class="form-control" id="password" placeholder="Password">
					</div>
				</div>

				<button type="submit" class="btn btn-primary">Update</button>
			</form>

			<footer>
				<% include ./parts/footer %>
			</footer>

	</body>

</html>
