<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Super Awesome</title>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <style href="css/style.css"></style>
</head>

<body class="container" style="background-color: <%= color %>">

  <header>
    <% include ./parts/header %>
  </header>

  <p>Hello
    <%= login %>
  </p>

</body>

</html>
