<head>
  <meta charset="UTF-8">
  <title>Roger Skyline 2</title>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  <style href="css/style.css"></style>
</head>
