<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="/#">
            <span class="glyphicon glyphicon glyphicon glyphicon-globe"></span>
            Roger Skyline 2
        </a>

        <% if (locals.isAdmin) { %>
          <ul class="nav navbar-nav">
            <li><a href="/add">Add user</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="/delete">Delete user</a></li>
          </ul>
          <% } %>

            <ul class="nav navbar-nav">
              <li><a href="/logout">Logout</a></li>
            </ul>

      </div>

    </div>
  </nav>
</header>
