body {
  padding-top: 50px;
}

.v-center {
  min-height:200px;
  display: flex;
  justify-content:center;
  flex-flow: column wrap;
}

.hello {
	font-family: 'Orbitron', sans-serif;
	font-size: 50px;
}

.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
